* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-green: rgb(55, 104, 28);
    --hatter: rgb(221, 223, 219);
    --main-red: #ec401e;

    /* MIN + (MAX - MIN) */
    --nagyon-kicsi: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
    --kicsi: calc(12px + (25 - 12) * ((100vw - 300px) / (1600 - 300)));
    --közepes: calc(14px + (45 - 14) * ((100vw - 300px) / (1600 - 300)));
    --nagy: calc(20px + (60 - 20) * ((100vw - 300px) / (1600 - 300)));
    --nagyon-nagy: calc(70px + (200 - 70) * ((100vw - 300px) / (1600 - 300)));

    --weatherIcon: ;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.component {
    width: 100vw;
    height: 100vh;

    position: relative;
    overflow: hidden;
}

.bgimg {
    position: absolute;
    min-width: 110%;
    min-height: 110%;
    top: -5%;
    left: -5%;
    z-index: -10;
    /* filter: blur(0.3vh); */
}

.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transition: transform ease-in 0.7s;
    transition-delay: 0.1s;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel:first-of-type {
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    flex: 0 1 fit-content;
    text-align: center;
    height: min-content;
    background-color: aliceblue;
    padding: 5%;
    border-radius: 2vmin;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-position: 145% 0%;
    background-size: 50%;
}

header div{
    display: flex;
    justify-content: center;
    gap: 10%;
}

header h1,
header h2 {
    font-size: var(--közepes);
}

header h3{
    flex: 1 1 100%;
    font-size: var(--kicsi);
}

header ul{
    flex: 0 1 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--kicsi);
}

aside {
    position: fixed;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%);
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: aliceblue;
    padding: 0.5vh 1vh;
    border-radius: 1.5vmax;
    font-size: var(--nagy);
}

.time{
    font-size: var(--közepes);
}

main {
    flex: 0 0 100%;
    height: 100vh;
}


@media all and (min-width: 600px) {
    /*tablet*/

}

@media all and (min-width: 768px) {
    /*számítógép*/

}