*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-green: rgb(55, 104, 28);
    --hatter: rgb(221, 223, 219);
    --main-red: #ec401e;

    /* MIN + (MAX - MIN) */
    --nagyon-kicsi: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
    --kicsi: calc(12px + (25 - 12) * ((100vw - 300px) / (1600 - 300)));
    --közepes: calc(14px + (37 - 14) * ((100vw - 300px) / (1600 - 300)));
    --nagy: calc(20px + (60 - 20) * ((100vw - 300px) / (1600 - 300)));
    --nagyon-nagy: calc(70px + (200 - 70) * ((100vw - 300px) / (1600 - 300)));
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.component{
    width: 100vw;
    height: 100vh;

    position: relative;
    overflow: hidden;
}

.bgimg{
    position: absolute;
    min-width: 110%;
    min-height: 110%;
    top: -5%;
    left: -5%;
    z-index: -10;
    filter: blur(0.3vh);
}

.panel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transition: ease-in 0.4s;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel:first-of-type{
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    flex: 0 1 20%;
    text-align: center;
    height: min-content;
}

aside{
    position: fixed;
    top: 5vh;
    right: 5vw;
}

main{
    flex: 0 0 100%;
    height: 100vh;
}


@media all and (min-width: 600px) {
    /*tablet*/

}

@media all and (min-width: 768px) {
    /*számítógép*/

}