* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF pro', 'Times New Roman', Times, serif;
    font-weight: 600;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --main-green: rgb(55, 104, 28);
    --bgr: rgb(118, 143, 94);
    --font: rgb(187, 214, 161);
    --main-red: #ec401e;

    /* MIN + (MAX - MIN) */
    --nagyon-kicsi: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
    --kicsi: calc(12px + (25 - 12) * ((100vw - 300px) / (1600 - 300)));
    --közepes: calc(14px + (45 - 14) * ((100vw - 300px) / (1600 - 300)));
    --nagy: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
    --nagyon-nagy: calc(70px + (200 - 70) * ((100vw - 300px) / (1600 - 300)));

    --weatherIcon: ;
}

@font-face {
    font-family: SF pro;
    src: url(fonts/SF-Pro-Display-Light.otf);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.component {
    width: 100vw;
    height: 100vh;

    position: relative;
    overflow: hidden;
    background-color: whitesmoke;
}

/* SEARCH FIELD */

.search-container {
    position: absolute;
    top: 20%;
    right: 15%;
    display: flex;
}

/* submit button */

.search-container img {
    flex: 0 0 35px;
    max-width: 40px;
    padding-left: 5%;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
    transform: rotate(360deg) translateX(-100%);
}

.search-container:hover img,
.search-container:active img,
.search-container:focus-within img {
    opacity: 1;
    transform: rotate(360deg) translateX(0);
}

.search-container img:hover {
    transform: scale(1.2);
}

.search-container img:active {
    transform: scale(1.3);
}

.search {
    flex: 0 0 35px;
    z-index: 10;
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    border: 3px solid white;
    border-radius: 5vmax;
    cursor: text;
    transition: 0.3s;
    backdrop-filter: blur(30px) grayscale(50%);
}

.search::after {
    content: "";
    position: absolute;
    top: 21px;
    right: -5px;
    width: 3px;
    height: 15px;
    background-color: white;
    transform: rotate(-45deg);
    transition: 0.1s;
    transition-delay: 0.2s;
    opacity: 1;
    pointer-events: none;
}

.search-container:hover .search,
.search-container:active .search,
.search:focus-within {
    width: 40vmin;
    flex-basis: 40vmin;
}

.search-container:hover .search::after,
.search-container:active .search::after,
.search:focus-within::after {
    height: 0;
    opacity: 0;
    transition-delay: 0s !important;
}

input {
    position: absolute;
    height: 100%;
    font-size: var(--kicsi);
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    width: 0;
    font-family: 'SF pro', 'Times New Roman', Times, serif;
    color: white;
}

input:focus {
    outline: none;
}

.search:hover input,
.search:active input,
.search:focus-within input {
    width: 90%;
}


/* PANELS - FPS */

.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transition: transform 0.6s;
    transition-delay: 0.1s;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel>* {
    transition: 0.8s;
    transition-delay: 0s;
    transform: translateX(50%);
    opacity: 0;
}


/* WEATHER TODAY */

header,
.card {
    flex: 0 1 50%;
    text-align: center;
    height: min-content;
    background-color: var(--bgr);
    color: white;
    /* padding: 5%; */
    border-radius: 2vmax;

    background: rgb(6, 0, 0);
    background: linear-gradient(160deg, rgba(27, 26, 26, 0.977) 0%, rgba(34, 34, 27, 0.959) 82%, rgba(42, 43, 40, 0.925) 100%);
    backdrop-filter: blur(0.3vmax);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header div {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: var(--nagy);
    flex: 0 1 80%;
    text-align: left;
    margin-left: 6%;
}

header div div {
    flex: 0 1 20%;
}

header img {
    width: 80%;
}

header h2 {
    color: rgb(192, 17, 17);
    font-size: var(--nagy);
}

header h3 {
    flex: 1 1 100%;
    font-size: var(--közepes);
}

header ul {
    flex: 0 1 fit-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--kicsi);

    margin: 2%;
    padding: 2%;
    background-color: #807e43;
    border-radius: 2vmax;
}


/* CITY and TIME */

aside {
    position: fixed;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%);
    width: fit-content;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bgr);
    background-color: rgb(121, 155, 165);

    background: rgb(233, 224, 224);
    background: linear-gradient(160deg, rgba(233, 224, 224, 0.959) 0%, rgba(232, 232, 217, 0.938) 62%, rgba(253, 255, 251, 0.719) 100%);
    backdrop-filter: blur(0.1vmax);

    padding: 0.5vmax 1.3vmax;
    border-radius: 2vmax;

    padding: 0.5vh 1vh;
    border-radius: 1.5vmax;
    font-size: var(--nagy);
    color: rgb(186, 223, 229);
    color: black;
}

.time {
    font-size: var(--közepes);
}


/* FORECAST */

main {
    flex: 0 0 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

main>div {
    flex: 0 0 45%;
}

main h2 {
    background: rgb(233, 224, 224);
    background: linear-gradient(160deg, rgba(233, 224, 224, 0.959) 0%, rgba(232, 232, 217, 0.938) 62%, rgba(253, 255, 251, 0.911) 100%);
    backdrop-filter: blur(0.3vmax);

    padding: 0vmax 0.5vmax;
    border-radius: 1.5vmax;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    width: min-content;

    font-size: var(--közepes);
}


.card {
    padding: 0;
    background-repeat: no-repeat;
    background-position: 0 25%;
    background-size: 100%;
    overflow: hidden;

    background: rgb(6, 0, 0);
    background: linear-gradient(160deg, rgba(27, 26, 26, 0.977) 0%, rgba(34, 34, 27, 0.959) 82%, rgba(42, 43, 40, 0.925) 100%);
    backdrop-filter: blur(0.3vmax);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.card img {
    flex: 0 0 25%;
    max-width: 25%;
}

.card>* {
    flex: 0 1 100%;
}


.card h3 {
    flex: 0 1 75%;
    text-align: left;
    text-indent: 5%;
    overflow: hidden;
    font-size: var(--nagy);
}

.card h4 {
    color: rgb(192, 17, 17);
    font-size: var(--nagy);
}

.card h5 {
    color: rgb(99, 142, 207);
    font-size: var(--közepes);
}

.card h6 {
    font-size: var(--kicsi);
}


/* CELSIUS - FAHRENHEIT toggle */

.switch {
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    justify-content: flex-start;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    cursor: pointer;
    width: 60px;
    height: 34px;
    background-color: #ccc;

    transition: 4s;
    border-radius: 2vmax;
    padding: 0 5%;

    position: relative;
}

.toggle{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 80%;
    aspect-ratio: 1/1;
    background-color: #807e43;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

input[type="checkbox"]:checked+.slider .toggle {
    left: 50%;
}

/*
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    content: '°F';

}
*/
@media all and (min-width: 600px) {
    /*tablet*/

}

@media all and (min-width: 768px) {
    /*számítógép*/

    header {
        flex: 0 1 35%;
    }

    main>div {
        flex: 0 0 20%;
    }

    .search-container {
        right: 8%;
    }

    .search-container img {
        flex: 0 0 50px;
        max-width: 60px;
    }

    .search {
        flex: 0 0 50px;
        height: 50px;
        border-width: 4px;
    }

    .search::after {
        top: 35px;
        right: -5px;
        width: 4px;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}